.container {
  height: 100vh;
  position: relative;
}
nav {
  padding: 6px;
}
a:hover {
  color: #aaa;
}


#loginBlock {
  font-size:10px;
  font-size: .625rem;
  padding: 8px 26px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#loginBlock .wel-msg {
  flex: 1;
}

.slider .className {
  height: 4vw;
  line-height: 4vw;
  background-color: rgb(150, 164, 139);
}

.slider {
  left: -20vw;
  position: absolute;
  top: 10vh;
  z-index: 2;
  width: 20vw;
  color: #fff;
  background-color: rgb(181, 196, 177);
  text-align: center;
  transition: all .6s;
}

.slider li {
  cursor: pointer;
  display: inline-block;
  width: 8vw;
  height: 4vw;
  line-height: 4vw;
}

.slider li:hover {
  background-color: rgba(224, 229, 223);
  color: rgb(181, 196, 177);
}

.slider .china-items ul,
.slider .foreiner-items ul {
  padding: 16px 8px;
}

#banner {
  position: relative;
  display: flex;
  height: 40vw;
  margin-top: 10px;
  background-color: rgb(124, 122, 122)
}

#banner .banner_item {
  width: 20vw;
  height: 40vw;
}

#banner .banner_item_mask {
  position: absolute;
  width: 20vw;
  height: 40vw;
  background: rgba(0, 0, 0, .3);
}

#banner .mask_one:hover {
  background: transparent;
}


#banner .mask_two {
 left: 20vw;
}
#banner .mask_two:hover {
  background: transparent;
}

#banner .mask_three {
  left: 40vw;
 }
#banner .mask_three:hover {
  background: transparent;
}

#banner .mask_four {
  left: 60vw;
 }
#banner .mask_four:hover {
  background: transparent;
}

#banner .mask_five {
  left: 80vw;
}
#banner .mask_five:hover {
  background: transparent;
}

#banner .one_b {
  background: url('../imgs/guzheng_banner_2.jpg') no-repeat;
  background-size: 100% 100%;
}

#banner .two_b {
  background: url('../imgs/xiaotiqin_banner_2.jpg') no-repeat;
  background-size: 100% 100%;
}

#banner .three_b {
  background: url('../imgs/piano_banner_2.jpg') no-repeat;
  background-size: 100% 100%;
}

#banner .four_b {
  background: url('../imgs/gitar_banner_2.jpg') no-repeat;

  background-size: 100% 100%;
}

#banner .five_b {
  background: url('../imgs/taodi_banner_2.jpg') no-repeat;
  background-size: 100% 100%;
}

#content-wrap{
  margin-top: -10px;
}

#content-wrap section .paragraph {
  height: 30vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

section .paragraph .p-txt1 {
  padding-bottom: 12px;
}

section .detail-wapper {
  height: 50vw;
  background-color: rgb(123, 139, 112);
}


footer {
  color: #45404c;
  background-color: white;
}

.footer-wrapper {
  padding: 50px 30px 0 30px;
}

.footer-wrapper .info-wrapper {
  display: flex;
  justify-content: space-between;
}

.footer-wrapper .info-wrapper .info-block {
  margin-bottom: 10px;
}

.footer-wrapper .info-wrapper .info-block a {
  margin-right: 6px;
}

footer .line {
  margin: 10px;
  height: 1px;
  width: 90vw;
  background-color: #45404c;
}

footer .copyright {
  text-align: center;
  padding-bottom: 10px;
}

#mask {
  display: none;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, .3)
}